@use '../../scss/variables.scss';
@import '../../scss/mixins.scss';

.movie__item-container {
    margin-bottom: 24px;
    position: relative;
    
    .button {
        @include button( $bgColor: variables.$primary-color,$fontSize: 15px, $color: variables.$white-color);
        font-weight: 600;
        padding: 10px 15px;
        border-radius: 10px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: none;
        z-index: 10000;
    }

    &:hover .button{
        display: block;
    }

    &:hover .movie-item .movie-poster {
        img {
            opacity: 0.5;
        }
    }
    &:hover .movie-item .movie-title {
        color: variables.$primary-color;
    }
}