@use '../../scss/variables.scss';

.movie__item-container {
    margin-bottom: 24px;
    position: relative;
    .close {  
        position: absolute;
        top: 10px;
        right: 10px;
        width: 20px;
        height: 20px;
        align-items: center;
        justify-content: center;
        border: 1px solid variables.$primary-color;
        border-radius: 50%;
        padding: 10px;
        color: variables.$primary-color;
        display: none;
    }
    &:hover .close {
        display: flex;
        cursor: pointer;
    }

    &:hover .movie-item .movie-poster {
        img {
            opacity: 0.5;
        }
    }

    &:hover .movie-item .movie-title {
        color: variables.$primary-color;
    }
}