@use '../../scss/variables';


.episode-item {
    text-decoration: none;
    display: block;
    border-radius: 10px;
    overflow: hidden;
    background-color: variables.$black-color;
    cursor: pointer;
   
    .episode-poster {
        height: 336px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: all linear .3s;
        }
    }

    .episode-number {
        font-size: 15px;
        color: variables.$white-color;
        padding: 10px;
        text-align: center;
        transition: all linear .3s;
        max-width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

    }
}