@use '../../scss/variables.scss';
 
.season__item {
    background-color: variables.$black-color;
    border-radius: 10px;
    cursor: pointer;
    .season__item-poster {
        aspect-ratio: 2/3;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .season__item-info {
        color: variables.$white-color;
        padding: 10px;
    }
        
}

.esp {
    display: flex;
    flex-direction: column;
    gap: 20px 0;
    .esp__item {
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: 0 20px;
        background-color: variables.$black-color;
        .esp__poster {
            width: 60%;
            height: 100%;
            img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .esp__info {
            color: variables.$white-color;
            width: 40%;
            flex: 1;
            padding: 10px;
            .esp__overview {
                display: -webkit-box;
                text-overflow: ellipsis;
                overflow: hidden;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
            }
        }
    }
    .esp__item.active {
        background-color: #f1c40f;
    }
}

@media (max-width: 1023px) {
    .season__item {
        display: flex;
        align-items: center;
        gap: 0 20px;
        .season__item-poster {
            width: 20%;
        }
    }

    .esp {
        .esp__item {
            .esp__poster {
                width: 20%;
            }
        }
    }
}