@use '../../scss/variables.scss';
@import '../../scss/mixins.scss';

.search__container {
    margin: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    .search_form {
        width: 400px;
        max-width: calc(100% - 16px);
        .search__input {
            padding: 10px 5px;
            border-radius: 5px;
            outline: none;
            width: 100%;
            background-color: transparent;
            color: variables.$white-color;
            border: 1px solid #fff;
            font-size: 20px;
        }
    }
    .search__result-container {
        margin-top: 50px;
        .searching, .no-result {
            text-align: center;
            color: variables.$white-color;
        }

    }
}
